.container {
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(#0099ff, #ff00ff);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.subContainer {
  width: 40%;
  text-align: center;
  background-color: transparent;
  padding: 1%;
  /* overflow-y: hidden; */
}
.label {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.small-icons {
  /* padding-bottom: 1px; */
  padding-top: 4px;
  border-bottom: 2px solid #fff;
}
.large-icon {
  margin-bottom: 50px;
}
.inp {
  width: 50%;
  padding-bottom: 10px;
  padding-left: 30px;
  color: #fff;
  background-color: transparent;
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 2px solid #fff;
}
::placeholder {
  color: white;
}
.inp:focus {
  border-bottom: 2px solid red;
}
.btn-submit {
  border-radius: 50px;
  border: none;
  padding: 15px 30px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.246);
  width: 20%;
  cursor: pointer;
}
.btn-submit:hover {
  background-color: #0026ff;
}
.link {
  color: green;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  text-decoration: underline;
  border-radius: 5px;
}
.link:hover {
  background-color: rgba(0, 128, 0, 0.123);
}
.forgot {
  color: red;
}
.forgot:hover {
  background-color: rgba(255, 0, 0, 0.116);
}
.loader {
  margin-top: 15% !important;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(0, 0, 61);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1200px) {
  .subContainer {
    width: 60%;
  }
}
@media screen and (max-width: 800px) {
  .subContainer {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .subContainer {
    width: 100vw;
  }
  .btn-submit {
    width: 35%;
  }
}
