* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-scrollbar-style: none;
}
body::-webkit-scrollbar,
body div::-webkit-scrollbar {
  display: none;
}
body {
  /* overflow-x: hidden !important; */
}
._main {
  background-image: linear-gradient(#fff, rgba(0, 128, 0, 0.247));
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 20px;
}
.login_main {
  background-image: linear-gradient(to left top, #fff, #2e7d32);
  /* background-image: url("./images/login.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  width: 100vw;
  min-height: 100vh;
}
.msgs {
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 20px;
}
.css-v60gti-MuiInputBase-root-MuiOutlinedInput-root {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
}
.css-heg063-MuiTabs-flexContainer {
  justify-content: center;
  min-width: 489px;
  margin-top: 20px;
  padding-bottom: 9px;
}
.css-19fgf82-MuiInputBase-root-MuiOutlinedInput-root {
  padding: 8px 16px !important;
}
.css-19fgf82-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 25px !important;
}
.css-o4b71y-MuiAccordionSummary-content {
  justify-content: space-between;
}
.css-187aw2j-MuiPaper-root-MuiAccordion-root:last-of-type {
  box-shadow: none;
  border-radius: 10px;
}
.css-k008qs {
  justify-content: center !important;
  margin: 24px auto 8px !important;
}
.css-xzifbt {
  border-radius: 20px !important;
  padding: 10px 14px !important;
}
