* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-scrollbar-style: none;
}
body {
  background-color: #f6f6f6;
}
*::before,
*::after {
  overflow: auto;
}
body::-webkit-scrollbar,
body div::-webkit-scrollbar {
  display: none;
}

._main {
  background-image: linear-gradient(#fff, rgba(0, 128, 0, 0.247));
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 20px;
}
.login_main {
  background-image: linear-gradient(to left top, #fff, #2e7d32);
  /* background-image: url("./images/login.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  width: 100vw;
  min-height: 100vh;
}
.msgs {
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 20px;
}
/* .css-v60gti-MuiInputBase-root-MuiOutlinedInput-root {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
} */
.css-heg063-MuiTabs-flexContainer {
  justify-content: center;
  min-width: 489px;
  margin-top: 20px;
  padding-bottom: 9px;
}
.css-19fgf82-MuiInputBase-root-MuiOutlinedInput-root {
  padding: 8px 16px !important;
}
.css-19fgf82-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 25px !important;
}
.css-o4b71y-MuiAccordionSummary-content {
  justify-content: space-between;
}
.css-187aw2j-MuiPaper-root-MuiAccordion-root:last-of-type {
  box-shadow: none;
  border-radius: 10px;
}
.css-k008qs {
  justify-content: center !important;
  margin: 24px auto 8px !important;
}
.css-xzifbt {
  border-radius: 20px !important;
  padding: 10px 14px !important;
}
.abc {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* react select  */
/* .css-inbie6-control:focus {
  border: 1px solid #2e7d32 !important;
}
.css-inbie6-control:hover {
  border: 1px solid #2e7d32 !important;
} */
